@import "../../index.css";

.comic-card {
    width: 340px;
    height: 557px;
    padding: 8px;
    gap: 8px;
}


.comic-cover-image {
    max-width: 324px;
}


.comic-title {
    font-size: 24px;
}


.comic-price {
    font-size: 16px;
    font-weight: 700;
    color: #FF8100;
}


#author-year-container {
    display: flex;                 
    justify-content: space-between;
    align-items: center;           
    margin-top: 4px;
}