header{
    background-color: var(--bg-primary);
    width: 1440px;
    height: 128px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 10px 16px 4px rgba(0,0,0,.06);
    box-sizing: border-box;
}

/*Title*/
.title-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 314px;
    height: 64px;
}
.title-name h1{
    font-size: 48px;
    color: var(--color-black_text);
    font-family: "Sofia Sans", system-ui;
}
.title-name h1 span{
    color: var(--color-brand);
}

/*Filter*/
section.name-filter{
    width: 448px;
    height: 64px;
    display: flex;
    align-items: center;
}
section.name-filter input{
    position: absolute;
    border-radius: 40px;
    background-color: var(--gray-secondary);
    width: 448px;
    height: 64px;
    border: none;
    padding: 8px 16px;
}
section.name-filter input:focus{
    outline: none;   
}
section.name-filter label{
    cursor: text;
    z-index: 1;
    margin: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
section.name-filter label, section.name-filter input{
    font-family: "Sofia Sans", system-ui;
    color: var(--gray-primary);
    font-size: 24px;
    line-height: 28.8px;
}

/*Right Side Header*/
.right-side-header{
    width: 488px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-side-header .links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    gap: 16px;
}
.right-side-header .links a{
    text-decoration: none;
    cursor: pointer;
}
.right-side-header .links a p{
    font-size: 24px;
    line-height: 28.8px;
    font-family: "Sofia Sans", system-ui;
}
.right-side-header .links a:nth-child(1) p{
    color: var(--color-black_text);
}
.right-side-header .links a:nth-child(2) p{
    color: var(--color-brand);
}

.cart-icon{

}