/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


/*Global Colors*/
:root{
    /*Main Colors*/
    --color_brand: #FF8100;
    --color_secondary: #DCBD9D;
    --color_tertiary: #272635;
    --color_black_text: #0C0C0C;

    /*Gray (Shades)*/
    --gray_primary: #BABABA;
    --gray_secondary: #F3F3F3;

    /*Backgrounds*/
    --bg_primary: #FAFFFD;
}

/*Font Weights*/
.fontRegular{font-weight: 400;}
.fontMedium{font-weight: 500;}
.fontSemiBold{font-weight: 600;}
.fontBold{font-weight: 700;}
.fontExtraBold{font-weight: 800;}

/**/