* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
}

input, select {
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(159, 159, 159);
    font-size: 1.2rem;
}

input {
    padding-left: 1rem;
}

option {
    font-size: 1.2rem;
}

.warnText {
    font-size: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 20rem;
}

.title>h1 {
    font-size: 4.5rem;
    font-weight: 800;
    margin: 2rem;
}

.iconEnd, .iconEnd1 {
    display: flex;
    align-self: flex-start;
    height: auto;
    margin-right: 0.6rem;
}

.iconEnd, .iconBtn {
    width: 2rem;
    color: #ff8100;
}

.iconEnd1 {
    color: #ff8100;
    width: 1.5rem;
}

.iconTip, small {
    color: rgb(114, 127, 158);
}

.inputsCep {
    display: grid;
    gap: 7px;
    grid-template-columns: max-content;
}

.inp1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.inp2 {
    grid-column-start: 1;
    grid-column-end: 6;
} 

.inp3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.inp4 {
    grid-column-start: 2;
    grid-column-end: 6;
}

.inp5 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.inp6 {
    grid-column-start: 2;
    grid-column-end: 5;
}
.inp7 {
    grid-column-start: 5;
    grid-column-end: 6;
}

.formPart1, .formPart2 {
    background-color: #f3f3f3;
    padding: 4rem;
    margin-bottom: 2rem;
    margin-left: 0;
    border-radius: .5rem;
}

.formPart1 {
    border: 2px solid;
}

.formPart2 {
    border: 2px solid;
}

/* small:hover .iconTip {
    color: blue;
    transition: 0.2s ease;
} */

#btn1, #btn2, #btn3 {
    all: unset;
}

.formDiv {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.npc, .theOne {
    cursor: pointer;
    width: 10rem;
}

.npc {
    background-color: #bababa;
    border: 2px solid rgb(85, 85, 85);
    border-bottom: 5px solid rgb(85, 85, 85);
}

.theOne {
    background-color: #ff8100;
    border: 2px solid rgb(243, 97, 0);
    border-bottom: 5px solid rgb(243, 97, 0);
    color: rgb(255, 247, 222);
}

.theOne .iconBtn {
    color: rgb(255, 247, 222);
}

.theOne:hover {
    background-color: rgb(255, 171, 54);
    transition: transform 0.2s ease;
    border-bottom: 5px solid rgb(243, 16, 0);
}

.npc:hover {
    background-color: rgb(136, 136, 136);
    border-color: rgb(35, 35, 35);
    transition: transform 0.2s ease;
}

.npc:hover .iconBtn {
    color: rgb(230, 0, 0);
    transition: 0.4s;
}

.theOne:hover .iconBtn{
    color: rgb(255, 247, 222);
}

.theOne:active {
    transform: translateY(3px);
    transition:ease-out 0.4s;
    border-bottom: 3px solid rgb(243, 16, 0);

}

.npc:active {
    transform: translateY(3px);
    transition:ease-out 0.4s;
    border-bottom: 3px solid rgb(85, 85, 85);
}

.purchaseBtns {
    display: flex;
    justify-content: space-around;
}

.purchaseBtns>div {
    padding-left: 0.6rem;
    display: flex;
    align-items: center;
    width: 10.3rem;
    border-radius: 0.5rem;
    height: 3.5rem;
    font-size: .9rem;
}

.iconBtn {
    font-size: larger;
    margin-right: 0.2em;
}

.warningForm {
    display: flex;
}

.warFormIcon {
    margin-right: .5rem;
    font-size: 3rem;
    color: orange;
    padding: 0%;
}

.aboutText {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}


.formPart3 {
    border-top: 3px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formPart3>div {
    width: 60%;
    margin-top: 1rem;
}



.formPart3>div>div {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
}

.btnF {
    background-color: #ff8100;
    color: #f3f3f3;
    width: 20rem;
    font-size: 1.7rem;
    border: 3px solid transparent;
    border-radius: 1rem;
}

.btnF:hover {
    background-color: #fafffd;
    color: #ff8100;
    border: 3px solid #ff8100;
    transition: 0.3s;
}

.totalPrice>p {
    font-size: 2rem;
    font-weight: 800;
}

.divBtnF {
    margin-bottom: 2rem;
}

@media (max-width: 890px) {
    .title {
        margin-top: 2rem;
    }
}

@media (max-width: 375px) {

    input, select {
        height: 3rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(159, 159, 159);
        font-size: 1.2rem;
    }
    
    input {
        padding-left: 1em;
    }

    .title>h1 {
        margin-top: 0;
    }

    .title {
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btn1, #btn2, #btn3 {
        all: unset;
    }
    
    .iconEnd {
        height: auto;
        width: 4rem;
    }

    .iconEnd1 {
        height: auto;
        width: 3rem;
    }

    .purchaseBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .purchaseBtns>div {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

   .formPart1, .formPart2 {
        background-color: #f3f3f3;
        padding: 4rem;
        margin-bottom: 2rem;
        margin-left: 0;
        border-radius: .5rem;
    }

    .npc, .theOne {
        margin-bottom: 0.5rem;
        cursor: pointer;
        width: fit-content;
        height: 2.5rem;
    }
    
    .formPart1, .formPart2 {
        border: none;
    }

    .npc {
        background-color: #bababa;
        border: 2px solid rgb(85, 85, 85);
        border-bottom: 5px solid rgb(85, 85, 85);
    }
    
    .theOne {
        background-color: #ff8100;
        border: 2px solid rgb(243, 97, 0);
        border-bottom: 5px solid rgb(243, 97, 0);
        color: rgb(255, 247, 222);
    }
    
    .theOne .iconBtn {
        color: rgb(255, 247, 222);
    }
    
    .theOne:hover {
        background-color: rgb(255, 171, 54);
        transition: transform 0.2s ease;
        border-bottom: 5px solid rgb(243, 16, 0);
    }
    
    .npc:hover {
        border-color: rgb(35, 35, 35);
        transition: transform 0.2s ease;
        border-bottom: 5px solid rgb(82, 82, 82);
    }

    .npc:hover .iconBtn {
        color: rgb(230, 0, 0);
        transition: 0.4s;
    }
    
    .theOne:hover .iconBtn{
        color: rgb(255, 247, 222);
    }

    .theOne:active {
        transition:ease-out 0.4s;
        border-bottom: 2px solid rgb(243, 16, 0);
    
    }
    
    .npc:active {
        transition:ease-out 0.4s;
        border-bottom: 2px solid rgb(85, 85, 85);
    }   

   .formPart3 {
        display: none;
    }

   .inputsCep {
        display: grid;
        gap: 10px;
        grid-template-columns: max-content;
    }

    .inp1 {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .inp2 {
        grid-column-start: 1;
        grid-column-end: 6;
    } 

    .inp3 {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .inp4 {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .inp5 {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .inp6 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .inp7 {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .divBtnF {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 3px solid #bababa;
        width: 100%;
        padding-top: 2rem;
    }

    .btnF {
        background-color: #ff8100;
        color: #f3f3f3;
        width: 20rem;
        font-size: 1.7rem;
        border: 3px solid transparent;
        border-radius: 1rem;
    }
    
    .btnF:hover {
        background-color: #fafffd;
        color: #ff8100;
        border: 3px solid #ff8100;
        transition: 0.3s;
    } 
    
}