* {
    margin: 0;
    padding: 0;
}

.npc, .theOne {
    cursor: pointer;
}

.npc {
    background-color: rgb(138, 138, 138);
    border: none;
}

.theOne {
    background-color: rgb(255, 199, 96);
    border: 2px solid rgb(243, 97, 0);
}

.warningForm {
    display: flex;
}

.warFormIcon {
    color: orange;
    width: 50px;
    padding: 0%;
}
