@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
:root{
    --bg-primary: #FAFFFD;
    --gray-primary: #BABABA;
    --gray-secondary: #F3F3F3;
    --color-brand: #FF8100;
}
.FormFiels{
    display: flex;
    flex-direction: column;
    width: 292px;
    height: auto;
    font-size: 12px;
    gap: 16px;
}
.e-mail-input{
    background-image: url("../../../../assets/images/symbols-email.png");
    background-repeat: no-repeat;
    background-position: 12px center;
    height: 35px;
    padding-left: 35px;
    border-radius: 31px;
    background-color: var(--gray-secondary);
    border: none;
    position: relative;
}
.password-input{
    background-image: url("../../../../assets/images/symbols-password.png");
    background-repeat: no-repeat;
    background-position: 12px center;
    height: 35px;
    padding-left: 35px;
    border-radius: 31px;
    background-color: var(--gray-secondary);
    border: none;
    position: relative;
}
.password-input::placeholder{
    color: var(--gray-primary);
    font-family: 'Sofia Sans';
    font-weight: 500;
    font-size: 16px;
}

.e-mail-input::placeholder{
    color: var(--gray-primary);
    font-family: 'Sofia Sans';
    font-weight: 500;
    font-size: 16px;
} 
.error{
    color: var(--color-brand);
    font-size: 14px;
    font-family: 'Sofia Sans';
    font-weight: 400;

}
.card-button{
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 292px;
    height: 45px;
    background-color: var(--color-brand);
    color: var(--bg-primary);
    transition: .2s;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Sofia Sans';
    font-weight: 700;
    font-size: 24px;
    border: 1px solid var(--color-brand);
    border-radius: 5px;
}
.card-button:hover{
    background-color: var(--bg-primary);
    color: var(--color-brand);
}
